<p id="notice"><%= notice %></p>


<p>
  <b>Category:</b>
  <%= @request.category %>
</p>

<p>
  <b>Title:</b>
  <%= @request.title %>
</p>

<p>
  <b>Description:</b>
  <%= @request.description %>
</p>

<div id="map"></div>

<script>
    function initMap() {

        var map = L.map('map').setView([<%= @request.ycord %>, <%= @request.xcord %>], 15);
        L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
        }).addTo(map);

        return map
    }
    var map = initMap();
</script>

</br>
<% @request.comments.each do |c| %>
    <%= c.content %> </br>
    by <%= c.user.email %> on <%= c.created_at %>  </br></br>
<% end %>

<%= render 'comments/form' %>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
